<h1>Wikis</h1>
<%= link_to "New", new_wiki_path, class: 'btn btn-success' %>
<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%# link_to wiki.title, wiki_path(wiki) %>
        <%= link_to wiki.title, wiki %>
        <%# link_to post.title, topic_post_path(@topic, post) %>
      </h4>
    </div>
  </div>
<% end %>
