<div class='container'>
  <div class='row'>
    <div class='col-xs-2 col-offset-2'>
      <h1>Wikis</h1>
    </div>
    <div class='col-xs-2 pull-right'>
      <%= link_to "New", new_wiki_path, class: 'btn btn-success' %>
    </div>
  </div>

  <div class='row'>
        <h4 class="media-heading col-xs-2 col-offset-2">
          <% @wikis.each do |wiki| %>
          <%# link_to wiki.title, wiki_path(wiki) %>
          <%= link_to wiki.title, wiki %>
          <% end %>
          <%# link_to post.title, topic_post_path(@topic, post) %>
        </h4>
      </div>
</div>
